/* ------------------------------------------
   base.TYPOGRAPHY
------------------------------------------ */

body {
  font-family: $ff-body;
  color: $dark;
}

p {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-color--blue;
  margin-bottom: .5em;
}
