.deco {
  background-image: url('../../images/deco.png');
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 100px auto;
  display: none;

  @include mq(900) {
    display: block;
  }
}
