.sponsor {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(180,180,180,0.50);
  margin: 0 auto 60px;
  font-size: rem-calc(16);
  border-radius: 2px;
  padding: 30px;
  margin: 0 auto;

  p {
    color: rgba($dark, .5);
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
}
