.article-body {

  a {
    color: $brand-color--blue;
    text-decoration: none;
    border-bottom: 2px solid $brand-color--pink;
    transition: .2s;

    &:hover {
      border-bottom: 2px solid rgba($brand-color--blue, .5);
    }
  }

  p {
    font-size: rem-calc(20);
    margin-bottom: 1em;
  }

  hr {
    border : 0;
    height : 5px;
    background-color: $brand-color--pink;
    margin-bottom: 1em;
  }

  h3 {
    font-size: rem-calc(25);
    color: $brand-color--blue;
  }

}
