.cards-block {
  margin-bottom: 100px;

  & > .twocol-section {
    margin-bottom: 40px;
  }

}

.cards-block__title {
  color: $brand-color--blue;
  border-bottom: 17px solid $brand-color--pink;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: rem-calc(30);

  @include mq(990) {
    font-size: rem-calc(65);
  }

}


.cards-block-list {
  list-style: none;
  display: block;

  @include mq(900) {
    column-count: 2;
    column-gap: 100px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__item > .card {
    background-image: url('../../images/card-bg.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left -110px center;
  }

  &__item:nth-child(odd) > .card {
    background-position: right -110px center
  }

  &__item:nth-child(2n+2) > .card {
    // background-position: 92% 80%;
  }
}
