.global-menu {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 10;

  .menu-wrapper {
    position: relative;
    display: none;
    @include mq(900) {
      display: block;
    }
  }

  ul.menu {
    list-style: none;
    position: relative;

    @include mq(900) {
      display: flex;
      justify-content: space-between;
    }

    @include mq(900) {
      &:before,
      &:after {
          content: '';
          display: block;
          height: 100%;
          background-color: $brand-color--pink;
          position: absolute;
      }
      &:before {
        width: 100vw;
        right: 100%;
      }
      &:after {
        width: 100vw;
        left: 100%;
      }
    }
  }

  .menu li {
    display: block;
    width: 100%;
    // height: 100%;
  }

  .menu a {
    background-color: $brand-color--pink;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: $brand-color--blue;
    font-size: rem-calc(16);
    padding: 10px 15px;
    @include mq(900) {
      text-align: center;
      padding: 20px 5px;
    }

    @include mq(1270) {
      padding: 20px 10px;
      font-size: rem-calc(18);
    }

    &:hover {
      color: $brand-color--light-pink;
      background-color: $brand-color--blue;

      @include mq(900) {
        background-color: transparent;
      }
    }
  }
}

.current-menu-item a,
.current_page_parent a {
  color: $brand-color--light-pink;
  background-color: $brand-color--blue;

  @include mq(900) {
    background-color: transparent;
  }

}

.menu-toggle {
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: rem-calc(13);
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 20px;
  color: $brand-color--blue;
  background-color: $brand-color--light-pink;
  outline: none;
  display: block;
  margin: 10px auto;

  @include mq(900) {
    display: none;
  }
}


.language-switcher {
  list-style: none;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  margin-top: 15px;
  font-size: rem-calc(14);
  text-align: center;

  @include mq(900) {
    float: right;
    margin-right: 40px;
  }

  li {
    display: inline-block;
    color: $brand-color--pink;
    text-transform: uppercase;

    &.active,
    &:hover {
      border-bottom: 2px solid $brand-color--pink;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  a {
    display: block;
    color: $brand-color--pink;
    text-decoration: none;
  }

}
