.people-group {
  margin-bottom: 50px;
  overflow: hidden;
  @include clearfix;
}

.people-group__title {
  color: $brand-color--blue;
  border-bottom: 17px solid $brand-color--pink;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 60px;
  padding-bottom: 40px;
  display: inline-block;
  font-size: rem-calc(30);

  @include mq(990) {
    font-size: rem-calc(65);
  }


}

.people-group__body {
  font-size: rem-calc(20);
  p {
  }
}
