.people-grid {
  list-style: none;

  display: flex;
  flex-flow: row wrap;
  margin-left: -20px;
  width: calc( 100% + 40px);
}

.people-grid__item {
  margin-bottom: 40px;
  padding: 0 20px;

  @include mq(600) {
    width: 50%;
  }

  @include mq(700) {
    width: 33.333%;
  }

  @include mq(900) {
    width: 25%;
  }
}
