.twocol-section {
  @include mq(880) {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    color: $brand-color--blue;
    border-bottom: 17px solid $brand-color--pink;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-size: rem-calc(30);

    @include mq(990) {
      font-size: rem-calc(65);
    }
  }
}

.wrap--twocol-section {
  margin-bottom: 20px;
  @include mq(880) {
    margin-bottom: 100px;
  }
}

.wrap--twocol-section ~ .wrap--twocol-section {
  margin-bottom: 0px;
}


.twocol-section__body {
  margin-bottom: 60px;
  @include mq(880) {
    margin-bottom: 0;
    margin-top: 80px;
    width: calc( 50% - 30px);
  }

  @include mq(1180) {
    width: calc( 50% - 50px);
  }
}

.twocol-section__aside {
  @include mq(880) {
    width: calc( 50% - 30px);
  }
  @include mq(1180) {
    width: calc( 50% - 50px);
  }
}
