.profile {
  // text-align: center;

  &__avatar {
    display: inline-block;
    border-radius: 100%;
    border: 5px solid $brand-color--blue;
    max-width: 100px;
    margin-bottom: 20px;
  }

  &__body {
    p {
      font-size: rem-calc(16);
    }
  }
}
