.hero {
  width: 100%;
  position: relative;
  margin-bottom: 80px;
  background-size: cover;
  background-color: $brand-color--blue;
  padding-bottom: 100px;
  // z-index: -1;

  @include mq(800) {
    padding-bottom: 200px;

  }

  &::after {
    background-color: darken(rgba($brand-color--blue,0.8), 5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content:'';
  }

  &::before {
    width: 100%;
    height: 100px;
    background-color: $brand-color--light-pink;
    display: block;
    content:'';
    bottom: -50px;
    z-index: 5;
    position: absolute;
    transform:skewY(-2deg);
  }
}

.blog-title {
  position: absolute;
  left: $gutter;
  top: 120px;
  color: #fff;
  z-index: 10;
  font-size: rem-calc(70);
  line-height: 1;
}

.hero-logo-wrap {
  @include clearfix();
  position: relative;
  z-index: 5;
  padding-top: 100px;

  @include mq(900) {
    padding-top: 150px;
  }
}

.hero-logo {
  @include ir();
  display: block;
  background-size: contain;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  position: relative;
  width: 270px;
  height: 150px;
  margin: 0 auto 50px;

  @include mq(880) {
    margin: 0 0 50px 0;
    float: right;
    left: -250px;
  }

  @include mq(1060) {
    width: 388px;
    height: 207px;

  }
}

.hero-cta {
  position: relative;
  z-index: 5;

  @include mq(880) {
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 45px;

    @include mq(880) {
      margin-bottom: 0;
      width: calc( 50% - 30px);
    }

    @include mq(1180) {
      width: calc( 50% - 50px);
    }


    h1 {
      color: $brand-color--pink;
      margin-bottom: 0;
      font-size: rem-calc(30);

      @include mq(900) {
        font-size: rem-calc(40);
      }
    }
  }

  &__subtitle {
    color: $brand-color--light-pink;

    @include mq(880) {
      text-align: right;
      width: calc( 50% - 30px);
    }

    @include mq(1180) {
      width: calc( 50% - 50px);
    }

    p {
      font-weight: bold;
      font-size: rem-calc(26);
    }
  }
}

.hero--small {
  padding-bottom: 40px;
  background-position: 90% 90%;

  .hero-logo-wrap {
    padding-top: 90px;
  }

  .hero-logo {
    width: 213px;
    height: 114px;
  }
}

.hero + .grid-block-section {
  margin-top: -100px;
}
