.button {
  color: $brand-color--blue;
  border: 3px solid $brand-color--blue;
  text-decoration: none;
  font-size: rem-calc(18);
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 4px;
  transition: .2s;
}

.button--hero {
  color: $brand-color--light-pink;
  border: 3px solid $brand-color--light-pink;
  margin-top: 35px;
}

.button--arrow-down {
  margin-left: 45px;

  &:before {
    content:'';
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('../../images/icon-arrow-hero.svg');
    background-size: contain;
    position: absolute;
    left: -45px;
  }
}


.fb-button {
  text-decoration: none;
  font-size: rem-calc(18);
  font-weight: normal;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  color: $brand-color--light-pink;
  vertical-align: middle;
  margin-bottom: 20px;

  img {
    position: relative;
    top: 4px;
    margin-right: 5px;
  }
}

.button--light {
  color: $brand-color--pink;
  border: 3px solid $brand-color--pink;

  background-color: $brand-color--pink;
  color: $brand-color--blue;

  &:hover {
    background-color: transparent;
    color: $brand-color--pink;
  }
}

.button--grid-block {
  margin: 20px 0 0;
}
