.card {
  background-color: $light;
  border: 5px solid rgba(255,211,225,1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
  border-radius: 2px;
  padding: 30px;

  ul, ol {
    padding-left: 2em;
    li {
      margin-bottom: .7em;
    }

  }

  p {
    font-size: rem-calc(18);
  }
}
