.subscribe {
  margin-bottom: 160px;
}

.subscribe-form {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(180,180,180,0.50);
  margin: 0 auto 60px;
  font-size: rem-calc(18);
  border-radius: 2px;
  padding: 60px 40px 50px;

  @include mq(900) {
    padding: 60px 90px 50px;
  }

  .gform_footer {
    text-align: center;
  }

  .subscribe-form-inner {
    margin: 0 auto;
    max-width: 650px;
  }

  ul {
    list-style: none;
  }

  li {
  }

  .gfield_label {
    @include visuallyhidden();
  }

  .gform_validation_container {
    @include visuallyhidden();
  }

  .gform_fields {
    @include clearfix();
  }

  .gfield {
    margin-right: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    @include mq(740) {
      float: left;
    }
  }

  .gfield_html {
    position: relative;
    top: 5px;
    font-weight: normal;
  }

  .gfield:nth-child(6),
  .gfield:nth-child(11),
  .gfield:nth-child(14),
  .gfield:nth-child(15) {
    @include mq(740) {
      clear: left;
    }
  }

  @include mq(740, max) {
    .gfield:nth-child(5),
    .gfield:nth-child(10) {
      display: none;
    }
  }


  .gfield:nth-child(15),
  .gfield:nth-child(15) textarea {
    width: 100%;
  }
}


.subscribe-form__title {
  margin-bottom: 15px;

  strong {

  }

}


.subscribe__title {
  font-size: rem-calc(55);
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.subscribe__subtitle {
  font-size: rem-calc(23);
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

















// excluding newsletter form (#gform_wrapper_1)
.gform_wrapper:not(#gform_wrapper_1) {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(180,180,180,0.50);
  margin: 0 auto 60px;
  font-size: rem-calc(18);
  border-radius: 2px;
  padding: 60px 40px 50px;

  @include mq(900) {
    padding: 60px 90px 50px;
  }
}

.body-copy .gform_wrapper {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    text-indent: 0;
  }

  li:before{
    display: none;
  }

}


.gfield_label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem-calc(14);
  color: $brand-color--blue;
  margin-bottom: .5em;
  margin-top: 2em;
  display: block;
}

.gfield_required {
  padding-left: 5px;
  font-weight: normal;
  color: red;
}

.gfield_html {
  color: $brand-color--blue;
}

.gfield_radio,
.gfield_checkbox {
  > li {
    position: relative;
  }
  input {
    position: absolute;
    top: 3px;
    left: 2px;
  }
  label {
    font-size: rem-calc(16);
    padding-left: 30px;
    display: block;
  }
}

.gform_body {
  margin-bottom: 30px;
}

.gform_button {
  color: #fff;
  background-color:$brand-color--blue;
  text-decoration: none;
  font-size: rem-calc(16);
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  font-size: rem-calc(14);
  letter-spacing: .05em;
  text-transform: uppercase;
}

input[type="email"],
input[type="text"],
textarea {
  background-color: darken($brand-color--light-pink, .6);
  border: none;
  padding: 5px 9px;
  border-bottom: 2px solid $brand-color--blue;
  outline: none;
  color: $brand-color--blue;
  width: 100%;
}

textarea {
  max-height: 100px;
}

.ginput_container_select {
    padding: 0;
    margin: 0;
    // width: 160px;
    overflow: hidden;
    background-color: darken($brand-color--light-pink, .6);
    border: none;
    border-bottom: 2px solid $brand-color--blue;
    color: $brand-color--blue;
    position: relative;

    select {
      padding: 5px 25px 5px 9px;
      width: 100%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      appearance: none;
      outline: none;

    }

    &:after {
      content: "";
      width:0px;
      height:0px;
      border-left:5px solid transparent;
      border-right:5px solid transparent;
      border-top:5px solid $brand-color--blue;
      position:absolute;
      bottom:12px;
      right: 10px;

    }
}
