.post-meta {
  position: relative;
  margin-top: 40px;
  font-size: rem-calc(17);

  time {
    margin-right: 20px;
  }

  span {
    background-color: $brand-color--light-pink;
    position: relative;
    z-index: 10;
    padding-right: 20px;
    text-transform: uppercase;
  }

  &:before {
    content:'';
    display: block;
    width: 100%;
    height: 8px;
    background-color: $brand-color--pink;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
}

.post-meta__author {
    font-weight: bold;
}
