.grid-block-section {
  padding: 150px 0;
  position: relative;
  color: $brand-color--light-pink;
  background-size: cover;
  background-repeat: none;
  text-align: center;

  & > * {
    position: relative;
    z-index: 5;
  }

  &::after {
    background-color: darken(rgba($brand-color--blue,0.82), 5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content:'';
  }
  .skew {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      width: 100%;
      height: 100px;
      background-color: $brand-color--light-pink;
      display: block;
      content:'';
      top: -50px;
      z-index: 10;
      position: absolute;
      transform:skewY(-3deg);
    }
    &::before {
      width: 100%;
      height: 100px;
      background-color: $brand-color--light-pink;
      display: block;
      content:'';
      bottom: -50px;
      z-index: 10;
      position: absolute;
      transform:skewY(2deg);
    }
  }
}

.grid-block-section {
  margin-bottom: 100px;
}

.wrap--twocol-section + .grid-block-section {
  margin-top: 100px;
}

.grid-block-section__body {


  p {
    font-size: rem-calc(18);
  }

  h3 {
    color: $brand-color--light-pink;
  }

}

.grid-block-section--title {
  color: $brand-color--pink;
  text-align: center;
  font-size: rem-calc(30);

  @include mq(990) {
    font-size: rem-calc(65);
  }

}


.grid-block {
  list-style: none;
  padding-top: 40px;
  @include mq(860) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }

  li {
    margin-bottom: 40px;
  }

  @include mq(860) {

    &--five {
      li {
        width: calc(20% - 20px);
      }
    }


    &--four {
      li {
        width: calc(25% - 20px);
      }
    }

    &--three {
      li {
        width: calc(33.333% - 20px);
      }
    }

    &--two {
      li {
        width: calc(50% - 20px);
      }
    }

    &--one {
      li {
        width: 100%;
      }
    }
  }

}


.grid-block__excerpt {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px;
  // padding-bottom: 30px;

  p {
    font-size: rem-calc(18);
    margin-bottom: 1em;
  }
}


.grid-block-section--light {

  &::after {
    background-color: rgba($brand-color--pink,0.9);
  }

  p {
    color: $dark;
  }

  h3, h2 {
    color: $brand-color--blue;
  }

  svg.icon.injected-svg {
    path {
      fill: $brand-color--blue;
    }
  }
}
