.body-copy {

  a:not('.button') {
    color: $brand-color--blue;
    text-decoration: none;
    border-bottom: 2px solid $brand-color--pink;
    transition: .2s;

    &:hover {
      border-bottom: 2px solid rgba($brand-color--blue, .5);
    }
  }

  p {
    font-size: rem-calc(16);
    margin-bottom: 1em;

    @include mq(990) {
      font-size: rem-calc(20);
    }
  }

  hr {
    border : 0;
    height : 5px;
    background-color: $brand-color--pink;
    margin-bottom: 1em;
  }

  h3 {
    font-size: rem-calc(25);
    color: $brand-color--blue;
  }
  h4 {
    font-size: rem-calc(20);
    line-height: 2;
  }

  ul, ol {
    font-size: rem-calc(20);
    margin-bottom: 1em;
    padding-left: 1.2em;
    line-height: 1.3;

    li {
      margin-bottom: 15px;
    }
  }

  ul {
    list-style: none;
    li {
      text-indent: -18px;
    }
    li:before {
      content: "• ";
      color: $brand-color--blue;
      font-size: rem-calc(24);
      margin-right: 6px;
      position: relative;
      top: 2px;
    }
  }

  blockquote {
    padding-left: 40px;
    border-left: 4px solid $brand-color--pink;
    margin: 40px 0;
    p {
      font-size: rem-calc(18);
    }
  }

}
