.poster-section {
  background-color: $brand-color--pink;
  padding: 90px 0;
  margin-bottom: 100px;
  position: relative;

  .skew {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    &::after {
      width: 100%;
      height: 100px;
      background-color: $brand-color--light-pink;
      display: block;
      content:'';
      top: -50px;
      z-index: 10;
      position: absolute;
      transform:skewY(2deg);
    }
    &::before {
      width: 100%;
      height: 100px;
      background-color: $brand-color--light-pink;
      display: block;
      content:'';
      bottom: -50px;
      z-index: 10;
      position: absolute;
      transform:skewY(-2deg);
    }
  }

  &:after {
    z-index: 15;
    opacity: .7;
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/poster-bg.png');
    background-size: 67%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .wrap {
    z-index: 120;
    position: relative;

  }

  p {
    font-size: rem-calc(40);
    font-weight: bold;
    color: $brand-color--blue;
    max-width: 900px;
    margin: 0 auto;
    display: block;
    line-height: 1.4;
    letter-spacing: -0.02em;
    padding: 20px 0 80px 0;
    @include mq(700) {
      font-size: rem-calc(60);
    }

    @include mq(900) {
      font-size: rem-calc(90);
    }
  }
}

.poster-section__title {
  color: $dark;
  text-align: center;
  font-size: rem-calc(20);
  padding-top: 40px;
  text-transform: uppercase;

  @include mq(990) {
    font-size: rem-calc(30);
  }
}
