/* ------------------------------------------
   objects.WRAP
------------------------------------------ */

.wrap {
  @include clearfix;
  max-width: 1120px + $gutter*2;
  padding: 0 $gutter;
  margin: 0 auto;
  position: relative;
}
