/* ------------------------------------------
   settings.VARIABLES
------------------------------------------ */

// Colors

$brand-color--light-pink: #FFF8FA;
$brand-color--pink: #FFD3E1;
$brand-color--blue: #004FB8;

$dark: #313131;
$light: #fff;

// Typo
// Roboto Condensed is fallback for cyrillics
$ff-body: "Dosis", "Roboto Condensed", Helvetica, Tahoma, sans-serif;

// Misc

$gutter: 20px;

$transition-in: .3s;
$transition-out: .5s;
